import * as React from 'react'

export interface <%= className %>Props {}

const <%= className %> = ({ ...props }: <%= className %>Props) => {
  return <>{/* Implement UI here */}</>
}

export { <%= className %> }