ul.lst-kix_hobv8zb2zu32-0 {
  list-style-type: none;
}
ul.lst-kix_hobv8zb2zu32-1 {
  list-style-type: none;
}
ul.lst-kix_lr2946qi1hef-0 {
  list-style-type: none;
}
ul.lst-kix_lr2946qi1hef-1 {
  list-style-type: none;
}
.lst-kix_hobv8zb2zu32-8 > li:before {
  content: '\0025a0   ';
}
.lst-kix_hobv8zb2zu32-7 > li:before {
  content: '\0025cb   ';
}
ul.lst-kix_hobv8zb2zu32-8 {
  list-style-type: none;
}
ul.lst-kix_hobv8zb2zu32-6 {
  list-style-type: none;
}
ul.lst-kix_hobv8zb2zu32-7 {
  list-style-type: none;
}
ul.lst-kix_hobv8zb2zu32-4 {
  list-style-type: none;
}
.lst-kix_hobv8zb2zu32-5 > li:before {
  content: '\0025a0   ';
}
ul.lst-kix_hobv8zb2zu32-5 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-1.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-1 0;
}
ul.lst-kix_hobv8zb2zu32-2 {
  list-style-type: none;
}
.lst-kix_hobv8zb2zu32-6 > li:before {
  content: '\0025cf   ';
}
.lst-kix_xwqytnlekq4p-5 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-5;
}
ul.lst-kix_hobv8zb2zu32-3 {
  list-style-type: none;
}
.lst-kix_hobv8zb2zu32-3 > li:before {
  content: '\0025cf   ';
}
.lst-kix_psoc6t7ms2fi-3 > li:before {
  content: '\0025cf   ';
}
ul.lst-kix_uracdijlke84-7 {
  list-style-type: none;
}
ul.lst-kix_uracdijlke84-8 {
  list-style-type: none;
}
.lst-kix_psoc6t7ms2fi-4 > li:before {
  content: '\0025cb   ';
}
.lst-kix_psoc6t7ms2fi-5 > li:before {
  content: '\0025a0   ';
}
ul.lst-kix_uracdijlke84-5 {
  list-style-type: none;
}
.lst-kix_hobv8zb2zu32-0 > li:before {
  content: '\0025cf   ';
}
.lst-kix_hobv8zb2zu32-4 > li:before {
  content: '\0025cb   ';
}
ul.lst-kix_uracdijlke84-6 {
  list-style-type: none;
}
.lst-kix_psoc6t7ms2fi-6 > li:before {
  content: '\0025cf   ';
}
.lst-kix_psoc6t7ms2fi-7 > li:before {
  content: '\0025cb   ';
}
.lst-kix_xwqytnlekq4p-6 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-6;
}
.lst-kix_hobv8zb2zu32-1 > li:before {
  content: '\0025cb   ';
}
.lst-kix_hobv8zb2zu32-2 > li:before {
  content: '\0025a0   ';
}
.lst-kix_psoc6t7ms2fi-8 > li:before {
  content: '\0025a0   ';
}
.lst-kix_xwqytnlekq4p-7 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-7;
}
.lst-kix_xwqytnlekq4p-4 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-4;
}
.lst-kix_xwqytnlekq4p-8 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-8;
}
.lst-kix_xwqytnlekq4p-2 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-2;
}
ol.lst-kix_xwqytnlekq4p-6.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-6 0;
}
.lst-kix_xwqytnlekq4p-3 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-3, decimal) '. ';
}
.lst-kix_lr2946qi1hef-8 > li:before {
  content: '\0025a0   ';
}
.lst-kix_xwqytnlekq4p-4 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-4, lower-latin) '. ';
}
ul.lst-kix_112atmtzryqw-6 {
  list-style-type: none;
}
.lst-kix_lr2946qi1hef-6 > li:before {
  content: '\0025cf   ';
}
.lst-kix_lr2946qi1hef-7 > li:before {
  content: '\0025cb   ';
}
ul.lst-kix_112atmtzryqw-7 {
  list-style-type: none;
}
ul.lst-kix_112atmtzryqw-8 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-0.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-0 0;
}
.lst-kix_xwqytnlekq4p-5 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-5, lower-roman) '. ';
}
.lst-kix_xwqytnlekq4p-6 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-6, decimal) '. ';
}
.lst-kix_xwqytnlekq4p-8 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-8, lower-roman) '. ';
}
.lst-kix_xwqytnlekq4p-7 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-7, lower-latin) '. ';
}
ul.lst-kix_uracdijlke84-3 {
  list-style-type: none;
}
ul.lst-kix_112atmtzryqw-2 {
  list-style-type: none;
}
ul.lst-kix_uracdijlke84-4 {
  list-style-type: none;
}
ul.lst-kix_112atmtzryqw-3 {
  list-style-type: none;
}
ul.lst-kix_uracdijlke84-1 {
  list-style-type: none;
}
ul.lst-kix_112atmtzryqw-4 {
  list-style-type: none;
}
ul.lst-kix_uracdijlke84-2 {
  list-style-type: none;
}
ul.lst-kix_112atmtzryqw-5 {
  list-style-type: none;
}
ul.lst-kix_uracdijlke84-0 {
  list-style-type: none;
}
ul.lst-kix_112atmtzryqw-0 {
  list-style-type: none;
}
ul.lst-kix_112atmtzryqw-1 {
  list-style-type: none;
}
.lst-kix_xwqytnlekq4p-2 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-2, lower-roman) '. ';
}
ul.lst-kix_oucgwelwomu1-3 {
  list-style-type: none;
}
.lst-kix_xwqytnlekq4p-1 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-1, lower-latin) '. ';
}
ul.lst-kix_oucgwelwomu1-2 {
  list-style-type: none;
}
ul.lst-kix_oucgwelwomu1-1 {
  list-style-type: none;
}
ul.lst-kix_oucgwelwomu1-0 {
  list-style-type: none;
}
ul.lst-kix_lr2946qi1hef-6 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-7.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-7 0;
}
ul.lst-kix_lr2946qi1hef-7 {
  list-style-type: none;
}
.lst-kix_xwqytnlekq4p-0 > li:before {
  content: '' counter(lst-ctn-kix_xwqytnlekq4p-0, decimal) '. ';
}
ul.lst-kix_lr2946qi1hef-8 {
  list-style-type: none;
}
ul.lst-kix_lr2946qi1hef-2 {
  list-style-type: none;
}
ul.lst-kix_lr2946qi1hef-3 {
  list-style-type: none;
}
ul.lst-kix_lr2946qi1hef-4 {
  list-style-type: none;
}
ul.lst-kix_lr2946qi1hef-5 {
  list-style-type: none;
}
ul.lst-kix_psoc6t7ms2fi-6 {
  list-style-type: none;
}
ul.lst-kix_psoc6t7ms2fi-7 {
  list-style-type: none;
}
ul.lst-kix_psoc6t7ms2fi-4 {
  list-style-type: none;
}
ul.lst-kix_psoc6t7ms2fi-5 {
  list-style-type: none;
}
.lst-kix_b7khnf267911-0 > li:before {
  content: '\0025cf   ';
}
ul.lst-kix_psoc6t7ms2fi-8 {
  list-style-type: none;
}
ul.lst-kix_oucgwelwomu1-7 {
  list-style-type: none;
}
.lst-kix_b7khnf267911-1 > li:before {
  content: '\0025cb   ';
}
ul.lst-kix_oucgwelwomu1-6 {
  list-style-type: none;
}
ul.lst-kix_oucgwelwomu1-5 {
  list-style-type: none;
}
ul.lst-kix_oucgwelwomu1-4 {
  list-style-type: none;
}
.lst-kix_b7khnf267911-3 > li:before {
  content: '\0025cf   ';
}
.lst-kix_b7khnf267911-2 > li:before {
  content: '\0025a0   ';
}
ul.lst-kix_oucgwelwomu1-8 {
  list-style-type: none;
}
.lst-kix_uracdijlke84-7 > li:before {
  content: '\0025cb   ';
}
.lst-kix_b7khnf267911-5 > li:before {
  content: '\0025a0   ';
}
.lst-kix_112atmtzryqw-5 > li:before {
  content: '\0025a0   ';
}
.lst-kix_xwqytnlekq4p-0 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-0;
}
.lst-kix_uracdijlke84-6 > li:before {
  content: '\0025cf   ';
}
.lst-kix_uracdijlke84-8 > li:before {
  content: '\0025a0   ';
}
.lst-kix_112atmtzryqw-6 > li:before {
  content: '\0025cf   ';
}
ol.lst-kix_xwqytnlekq4p-5.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-5 0;
}
.lst-kix_112atmtzryqw-7 > li:before {
  content: '\0025cb   ';
}
.lst-kix_b7khnf267911-4 > li:before {
  content: '\0025cb   ';
}
.lst-kix_b7khnf267911-8 > li:before {
  content: '\0025a0   ';
}
.lst-kix_112atmtzryqw-8 > li:before {
  content: '\0025a0   ';
}
.lst-kix_b7khnf267911-7 > li:before {
  content: '\0025cb   ';
}
ul.lst-kix_psoc6t7ms2fi-2 {
  list-style-type: none;
}
ul.lst-kix_psoc6t7ms2fi-3 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-8.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-8 0;
}
.lst-kix_b7khnf267911-6 > li:before {
  content: '\0025cf   ';
}
ul.lst-kix_psoc6t7ms2fi-0 {
  list-style-type: none;
}
ul.lst-kix_psoc6t7ms2fi-1 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-2.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-2 0;
}
.lst-kix_lr2946qi1hef-0 > li:before {
  content: '\0025cf   ';
}
.lst-kix_lr2946qi1hef-1 > li:before {
  content: '\0025cb   ';
}
.lst-kix_lr2946qi1hef-2 > li:before {
  content: '\0025a0   ';
}
.lst-kix_lr2946qi1hef-3 > li:before {
  content: '\0025cf   ';
}
ul.lst-kix_b7khnf267911-0 {
  list-style-type: none;
}
.lst-kix_lr2946qi1hef-4 > li:before {
  content: '\0025cb   ';
}
.lst-kix_lr2946qi1hef-5 > li:before {
  content: '\0025a0   ';
}
.lst-kix_112atmtzryqw-4 > li:before {
  content: '\0025cb   ';
}
.lst-kix_112atmtzryqw-3 > li:before {
  content: '\0025cf   ';
}
ul.lst-kix_b7khnf267911-2 {
  list-style-type: none;
}
.lst-kix_112atmtzryqw-1 > li:before {
  content: '\0025cb   ';
}
ul.lst-kix_b7khnf267911-1 {
  list-style-type: none;
}
ul.lst-kix_b7khnf267911-4 {
  list-style-type: none;
}
.lst-kix_112atmtzryqw-2 > li:before {
  content: '\0025a0   ';
}
ul.lst-kix_b7khnf267911-3 {
  list-style-type: none;
}
.lst-kix_112atmtzryqw-0 > li:before {
  content: '\0025cf   ';
}
ul.lst-kix_b7khnf267911-6 {
  list-style-type: none;
}
ul.lst-kix_b7khnf267911-5 {
  list-style-type: none;
}
ul.lst-kix_b7khnf267911-8 {
  list-style-type: none;
}
.lst-kix_xwqytnlekq4p-1 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-1;
}
ul.lst-kix_b7khnf267911-7 {
  list-style-type: none;
}
.lst-kix_oucgwelwomu1-3 > li:before {
  content: '-  ';
}
.lst-kix_oucgwelwomu1-2 > li:before {
  content: '-  ';
}
.lst-kix_oucgwelwomu1-1 > li:before {
  content: '-  ';
}
.lst-kix_xwqytnlekq4p-3 > li {
  counter-increment: lst-ctn-kix_xwqytnlekq4p-3;
}
.lst-kix_oucgwelwomu1-0 > li:before {
  content: '\0025cf   ';
}
ol.lst-kix_xwqytnlekq4p-3.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-3 0;
}
.lst-kix_uracdijlke84-0 > li:before {
  content: '\0025cf   ';
}
.lst-kix_uracdijlke84-4 > li:before {
  content: '\0025cb   ';
}
.lst-kix_uracdijlke84-5 > li:before {
  content: '\0025a0   ';
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_oucgwelwomu1-4 > li:before {
  content: '-  ';
}
ol.lst-kix_xwqytnlekq4p-6 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-5 {
  list-style-type: none;
}
.lst-kix_psoc6t7ms2fi-2 > li:before {
  content: '\0025a0   ';
}
ol.lst-kix_xwqytnlekq4p-4 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-3 {
  list-style-type: none;
}
.lst-kix_oucgwelwomu1-6 > li:before {
  content: '-  ';
}
.lst-kix_psoc6t7ms2fi-1 > li:before {
  content: '\0025cb   ';
}
.lst-kix_oucgwelwomu1-5 > li:before {
  content: '-  ';
}
ol.lst-kix_xwqytnlekq4p-8 {
  list-style-type: none;
}
ol.lst-kix_xwqytnlekq4p-7 {
  list-style-type: none;
}
.lst-kix_oucgwelwomu1-8 > li:before {
  content: '-  ';
}
.lst-kix_uracdijlke84-3 > li:before {
  content: '\0025cf   ';
}
.lst-kix_uracdijlke84-2 > li:before {
  content: '\0025a0   ';
}
.lst-kix_psoc6t7ms2fi-0 > li:before {
  content: '\0025cf   ';
}
ol.lst-kix_xwqytnlekq4p-4.start {
  counter-reset: lst-ctn-kix_xwqytnlekq4p-4 0;
}
ol.lst-kix_xwqytnlekq4p-2 {
  list-style-type: none;
}
.lst-kix_uracdijlke84-1 > li:before {
  content: '\0025cb   ';
}
ol.lst-kix_xwqytnlekq4p-1 {
  list-style-type: none;
}
.lst-kix_oucgwelwomu1-7 > li:before {
  content: '-  ';
}
ol.lst-kix_xwqytnlekq4p-0 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c1 {
  color: hsl(var(--primary-100));
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: 'Arial';
  font-style: normal;
}
.c6 {
  color: hsl(var(--primary-100));
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: 'Arial';
  font-style: normal;
}
.c0 {
  padding-top: 0pt;
  padding-bottom: 0.5em;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c7 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c4 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c3 {
  padding: 0;
  margin: 0;
}
.c2 {
  height: 11pt;
}
.c5 {
  font-weight: 700;
}
.title {
  padding-top: 0pt;
  color: hsl(var(--primary-100));
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: hsl(var(--primary-200));
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: hsl(var(--primary-100));
  font-size: 11pt;
  font-family: 'Arial';
  margin-bottom: 0.5em;
  line-height: 1.5;
}
p {
  margin: 0 0 1em 0;
  color: hsl(var(--primary-100));
  font-size: 11pt;
  font-family: 'Arial';
  line-height: 1.5;
}
h1 {
  padding-top: 20pt;
  color: hsl(var(--primary-100));
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h2 {
  padding-top: 18pt;
  color: hsl(var(--primary-100));
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h4 {
  padding-top: 14pt;
  color: hsl(var(--primary-200));
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h5 {
  padding-top: 12pt;
  color: hsl(var(--primary-200));
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h6 {
  padding-top: 12pt;
  color: hsl(var(--primary-200));
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
